html,body{
margin:0;
overflow:hidden;
background:#000;
font-family:Arial,sans-serif;
touch-action:none;
}

#game{
position:fixed;
inset:0;
display:none;
width:100vw;
height:100vh;
background:#6aac63;
}

#title{
position:fixed;
inset:0;
background:linear-gradient(#4c8a4c,#1d381d);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
z-index:50;
}

#title h1{
font-size:58px;
margin:0;
}

#title p{
font-size:24px;
}

#playBtn{
padding:18px 42px;
font-size:28px;
border:none;
border-radius:16px;
background:gold;
}

.ver{
margin-top:20px;
font-size:24px;
color:gold;
}

#hud{
position:fixed;
top:10px;
left:10px;
background:rgba(0,0,0,0.7);
padding:14px;
border-radius:14px;
color:white;
width:260px;
display:none;
z-index:10;
}

#msg{
margin-top:10px;
min-height:50px;
}

#inventory{
position:fixed;
top:10px;
right:10px;
display:none;
z-index:10;
}

.slot{
width:58px;
height:58px;
background:rgba(255,255,255,0.85);
margin-bottom:8px;
border-radius:12px;
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
}

#controls{
position:fixed;
bottom:20px;
width:100%;
display:none;
text-align:center;
z-index:10;
}

button{
width:72px;
height:72px;
border:none;
border-radius:18px;
margin:4px;
font-size:28px;
background:rgba(255,255,255,0.9);
}
